<!DOCTYPE html>
<html>

<head>
    <title>Cart</title>
    <link rel="shortcut icon" href="https://static.cure.fit/assets/images/curefit-v-man.svg" />
    <link rel="stylesheet" href="/cart.css" />
</head>

<body>
    <!-- nav bar -->
    <div id="navBar">
        <a href="/">
            <div class="nav-CultFit-Logo" onclick="homePage()">
                <img src="https://static.cure.fit/assets/images/curefit-v-man.svg" class="nav-CultFit-Logo"
                    onclick="homePage()" />
            </div>
        </a>

        <a href="/store">
            <div class="nav-middle">
                <h1 class="cultText" onclick="backToStorePage()">cultsport</h1>
            </div>
        </a>

        <!-- right -->
        <div class="nav-right">
            <a href="/profile">
                <div class="nav-login-Logo">
                    <img src="https://static.cure.fit/assets/images/user-image.svg" alt="" onclick="toProfile()" />
                </div>
            </a>
        </div>
    </div>

    <!-- Main container -->
    <div id="container">
        <!-- left order cart -->
        <div id="order-content">
            <div id="top">Cultgear Order Summary</div>

            <% let total_price=0; let total_discount=0; let voucher=item.voucher; if(item.products.length !=0) { %>

                <% item.products.forEach(function(el) { let total=el.quantity * el.price; let discount=el.quantity *
                    Math.abs(el.discountPrice - el.price); total_discount=Math.abs(total_discount + discount);
                    total_price=total_price + total; %>

                    <div id="one_content">
                        <div id="image_div">
                            <img id="image" src="<%= el.image %>" />
                        </div>

                        <div id="">
                            <div id="first">
                                <p id="name_right">
                                    <%= el.name %>
                                </p>
                                <form action="/cart/delete/product/<%=el.productId%>" method="post">
                                    <input type="submit" value="X" />
                                </form>
                                <!-- Add event listener-->
                            </div>
                            <br />
                            <p id="band">
                                <%= el.brand %>
                            </p>
                            <br />
                            <p id="size">
                                Size: <%= el.size %>
                            </p>
                            <br />
                            <div id="priceQuantity">
                                <p>₹ <%= el.price %>
                                </p>
                                <div id="quantity">
                                    <a href="/cart/product/minus/<%= el._id %>">
                                        <p id="p_minus">-</p>
                                    </a>
                                    <p id="p_quantity">
                                        <%= el.quantity %>
                                    </p>
                                    <a href="/cart/plus/quantity/<%= el._id %>">
                                        <p id="p_plus">+</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <% }) } %>
        </div>

        <div id="address">
            <!-- address select section -->
            <div oncilck="call()" id="selectAddress">
                <div class="modify-address-div">
                    <p oncilck="call()" id="addleft">
                        <span>
                            <img src="https://static.cure.fit/assets/images/locationPink.svg" class="location-icon">
                        </span>
                        <% if (item.address==null) { %>
                            <p>Please Add Addresses</p>
                            <% } else { %>
                                <p>
                                    <%= item.address %>
                                </p>
                                <% } %>
                    </p>

                    <!-- modify address -->
                    <p oncilck="call()" id="addright">Add/Modify</p>
                </div>
                <hr class="line" />
            </div>

            <!-- Price -->
            <div id="pricePart">
                <div id="totalPrice">
                    <p class="total-price">Total Price</p>
                    <p id="showTotalPrice">₹ <%= total_price %>
                    </p>
                </div>

                <div id="discount">
                    <p class="discount-text">(-) Discount</p>
                    <p id="showTotalDiscount">₹ <%=total_discount%>
                    </p>
                </div>

                <div id="voucher">
                    <p class="implement-voucher">Implement voucher</p>
                    <span id="discountamount"></span>
                    <button onclick="voucher()" class="voucher-btn">Apply</button>
                </div>

                <div id="totalPayble">
                    <p class="total-payable">Total Payble</p>
                    <p id="showTotalPaybleAmount">₹ <%=total_price %>
                    </p>
                </div>
            </div>

            <!-- Address button -->
            <div id="addressbutton">
                <% if (item.address===null) { %>
                    <button onclick="call()" id="addressselectbutton">
                        Select Address
                    </button>
                    <% } else { %> <button onclick="checkout()" id="checkoutbutton">Checkout</button>
                        <%} %>
            </div>
        </div>
    </div>

    <!--Modal Adding address box-->
    <div id="modal">
        <div id="modal-content">
            <div id="model-header">

                <p id="model-left">Choose Delivery Address</p>
                <span onclick="clos()" class="close">&times;</span>
            </div>

            <hr />

            <div id="modal-body" class="model-body">
                <form action="/address" method="POST">

                    <div id="addCity">
                        <% if (item.address==null) {%>
                            <input type="text" id="cityname" name="address" placeholder="Enter your full address" />
                            <% } else {%> <input type="text" id="cityname" name="address"
                                    placeholder="Enter your full address" value="<%= item.address%>" />
                                <% } %>

                    </div>

                    <div id="button">
                        <button onclick="addressAdd()" id="addbtn">Add New Address</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--End modal box-->

    <!--Model for checkout form-->
    <div id="modal1">
        <div id="modal-content">
            <div id="model-header">
                <p style="text-align: center" id="model-left">Payment Option</p>
                <span onclick="closP()" class="close">&times;</span>
            </div>
            <hr />
            <div id="modal-body" class="model-body">
                <a href="/payment"><button onclick="paymentPage()" class="paymentBtn">Add Debit & Credit
                        Card</button></a>
                <a href="/orders"><button onclick="orderPage()" class="paymentBtn">Pay On Delivery</button></a>
            </div>
        </div>
    </div>
</body>

</html>

<script>
    function checkout() {
        document.getElementById("modal1").style.display = "block";
    }

    function voucher() {
        document.getElementById("showTotalPaybleAmount").innerHTML = "";
        let price = <%= total_price - voucher %>;
        document.getElementById("showTotalPaybleAmount").innerHTML = " ₹" + price;
    }

    function addressAdd() {
        var parent = document.getElementById("modal-body");
        var get = JSON.parse(localStorage.getItem("user"));
        var citya = document.getElementById("cityname").value;
        get.forEach(function (q) {
            q.city = citya;
            localStorage.setItem("user", JSON.stringify(get));
        });
        citya = "";
    }

    function PriceAddress() {
        var parent = document.getElementById("address");
        var get_data = JSON.parse(localStorage.getItem("orders"));
    }

    function call() {
        var modal = document.getElementById("modal");
        modal.style.display = "block";

        var logedin_user = JSON.parse(localStorage.getItem("logedin"));
        var get_user = JSON.parse(localStorage.getItem("user"));

        get_user.forEach(function (p) {
            if (p.number == logedin_user.n) {
                if (p.address == undefined) {

                    document.getElementById("addCity").style.display = "block";
                    document
                        .getElementById("addbtn")
                        .addEventListener("click", function () {
                            var cityName = document.getElementById("cityname").value;
                            p.address = cityName;
                            document.getElementById("model-left").innerHTML = p.address;
                            document.getElementById("addleft").innerHTML =
                                "<span><img src = 'https://static.cure.fit/assets/images/locationPink.svg'></span>" +
                                p.address;

                            document.getElementById("addressselectbutton").style.display =
                                "none";
                            document.getElementById("checkoutbutton").style.display = "block";
                            clos();
                        });
                } else {
                    let showAddress = document.createElement("div");
                    showAddress.innerText = p.address;
                    showAddress.id = "saveAddress";
                    showAddress.addEventListener("click", function () {
                        document.getElementById("model-left").innerHTML = p.address;
                        showAddress.style.display = "none";
                        document.getElementById("model-left").innerHTML = p.address;
                        document.getElementById("addleft").innerHTML =
                            "<span><img src = 'https://static.cure.fit/assets/images/locationPink.svg'></span>" +
                            p.address;
                        document.getElementById("addressselectbutton").style.display =
                            "none";
                        document.getElementById("checkoutbutton").style.display = "block";
                        clos();
                    });
                    document
                        .getElementById("modal-body")
                        .insertBefore(showAddress, document.getElementById("button"));
                }
            }
        });
    }

    document.getElementById("selectAddress").addEventListener("click", call);

    function clos() {
        var modal = document.getElementById("modal");
        modal.style.display = "none";
    }
    function closP() {
        var modal1 = document.getElementById("modal1");
        modal1.style.display = "none";
    }
    function order() {
        var all_orders = JSON.parse(localStorage.getItem("orders"));

        var parent = document.getElementById("order-content");

        all_orders.forEach(function (p) {
            let total_div = document.createElement("div");
            total_div.id = "one_content";


            let left_div = document.createElement("div");
            left_div.id = "image_div";
            let imagea = document.createElement("img");
            imagea.src = p.image[0];
            imagea.id = "image";

            // left_div.class = "image_container;"
            left_div.append(imagea);
            let right_div = document.createElement("div");

            //name
            let cross = document.createElement("p");
            cross.innerText = "X";
            cross.id = "cross";

            let name_right = document.createElement("p");
            name_right.innerText = p.name;
            name_right.id = "name_right";
            let first = document.createElement("div");
            first.append(name_right, cross);
            first.id = "first";
            //band name
            let band = document.createElement("p");
            band.innerText = p.brand;
            band.id = "band";
            //size
            let size = document.createElement("p");
            size.innerText = "Size: " + p.selectedSize;
            size.id = "size";
            let priceQuantity = document.createElement("div");
            priceQuantity.id = "priceQuantity";
            var price = Math.round(
                Number(
                    Number(p.discountPrice) -
                    Number((Number(p.discountPrice) * Number(p.discount)) / 100)
                )
            );
            let priceP = document.createElement("p");
            priceP.innerText = "₹ " + price;

            let quantity = document.createElement("div");
            quantity.id = "quantity";

            let p_minus = document.createElement("p");
            p_minus.innerText = " - ";
            p_minus.id = "p_minus";

            let p_plus = document.createElement("p");
            p_plus.innerText = " + ";
            p_plus.id = "p_plus";

            p.discount = 200;
            let p_quantity = document.createElement("p");
            p_quantity.innerText = 1;
            p_quantity.id = "p_quantity";
            var total_price = document.getElementById("showTotalPrice");
            total_price.innerText = "₹ " + Number(price);

            var total_discount = document.getElementById("showTotalDiscount");
            total_discount.innerText = "₹ " + Number(Number(p.discount));
            var total_payble_amount = document.getElementById(
                "showTotalPaybleAmount"
            );
            total_payble_amount.innerText =
                "₹ " + Number(Number(price) - Number(p.discount));
            p_plus.addEventListener("click", function () {
                var count = Number(document.getElementById("p_quantity").innerHTML);
                count = count + 1;
                p_quantity.innerHTML = count;
                var total_price = document.getElementById("showTotalPrice");
                total_price.innerText = "₹ " + Number(price * count);
                var total_discount = document.getElementById("showTotalDiscount");
                total_discount.innerText = "₹ " + Number(Number(p.discount) * count);
                var total_payble_amount = document.getElementById(
                    "showTotalPaybleAmount"
                );
                total_payble_amount.innerText =
                    "₹ " +
                    Number(Number(price) * count - Number(Number(p.discount) * count));
            });

            p_minus.addEventListener("click", function () {
                var count = Number(document.getElementById("p_quantity").innerHTML);
                if (count >= 1) {
                    count = count - 1;
                    p_quantity.innerText = count;
                    var total_price = document.getElementById("showTotalPrice");
                    total_price.innerText = "₹" + Number(price * count);
                    var total_discount = document.getElementById("showTotalDiscount");
                    total_discount.innerText = "₹" + Number(Number(p.discount) * count);
                    var total_payble_amount = document.getElementById(
                        "showTotalPaybleAmount"
                    );
                    total_payble_amount.innerText =
                        "₹" +
                        Number(Number(price) * count - Number(Number(p.discount) * count));
                    if (count == 0) {
                        var orders = JSON.parse(localStorage.getItem("orders"));
                        // localStorage.removeItem("orders");
                        orders.shift();
                        localStorage.setItem("orders", JSON.stringify(orders));
                        window.location.pathname = "main/cart_checkout/cart.html";
                    }
                }
            });

            let br = document.createElement("br");
            let hr = document.createElement("hr");
            quantity.append(p_minus, p_quantity, p_plus);
            priceQuantity.append(priceP, quantity);
            right_div.append(first, br, band, br, size, br, priceQuantity);
            total_div.append(left_div, right_div);
            parent.append(total_div, hr);
        });
    }
    order();
    function increment() {
        console.log("This is the name of the file");
    }
    function decrement() { }
    function total() {
        var all_orders = JSON.parse(localStorage.getItem("orders"));
        var price = 0;
        check = 0;
        all_orders.forEach(function (r) {
            price += Math.round(
                Number(
                    Number(r.discountPrice) -
                    Number((Number(r.discountPrice) * Number(r.discount)) / 100)
                )
            );
            check += Number(r.discount);
        });
        var total_payble_amount = document.getElementById("showTotalPaybleAmount");
        total_payble_amount.innerText = "₹ " + Number(Number(price) - check);
    }
    total();
</script>