<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="https://static.cure.fit/assets/images/curefit-v-man.svg" />
    <link rel="stylesheet" href="store.css" />
    <title>Cult Store</title>
</head>

<body>
    <!-- nav bar -->
    <div id="navBar">
        <a href="/">
            <div class="nav-CultFit-Logo" onclick="homePage()">
                <img src="https://static.cure.fit/assets/images/curefit-v-man.svg" class="nav-CultFit-Logo"
                    onclick="homePage()" />
            </div>
        </a>

        <!-- Nav Middle items -->
        <div class="nav-middle">
            <h1 class="cultText" onclick="backToStorePage()">cultsport</h1>
        </div>

        <!-- right -->
        <div class="nav-right">
            <a href="/profile">
                <div class="nav-login-Logo">
                    <img src="https://static.cure.fit/assets/images/user-image.svg" alt="" onclick="toProfile()" />
                </div>
            </a>

            <a href="/cart">
                <div class="nav-cart-Logo">
                    <img src="https://static.cure.fit/assets/images/cart-image.svg" alt="" onclick="toCart()" />
                </div>
            </a>
        </div>
    </div>

    <!-- Upper Banner of page -->
    <div class="upper-banner">
        <img src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_1440,ar_2880:596/dpr_2/image/vm/5d245d1f-33d9-40ad-8772-bf643aa4991a.png"
            alt="" />
    </div>



    <!-- Main Sports Page -->
    <div id="main-container">
        <!-- Categories for men, women and footgear -->
        <!-- men -->
        <p class="categories-text">CATEGORIES</p>
        <div class="categories">

            <a href="/store/mens">
                <div class="men">
                    <img
                        src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_250,ar_155:78,c_fit/dpr_2/cultgear-content/assets/clp-category-men.png" />
                </div>
            </a>

            <a href="/store/women">
                <div class="women">
                    <img
                        src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_250,ar_155:78,c_fit/dpr_2/cultgear-content/assets/clp-category-women.png" />
                </div>
            </a>

            <a href="/store/footwear">
                <div class="footgear">
                    <img
                        src="https://cdn-images.cure.fit/www-curefit-com/image/upload/fl_progressive,f_auto,q_auto:eco,w_250,ar_155:78,c_fit/dpr_2/cultgear-content/assets/clp-category-footgear.png" />
                </div>
            </a>
        </div>



        <!-- Header of products -->
        <div class="mensHeader">
            <div class="mensHeader-MainText">
                <p class="mensHeader-heading">FAB is Back!</p>
                <p class="mensHeader-subHeading">
                    Flydry, Anti-microbial and Breathable
                </p>
            </div>

            <a href="/store/mens">
                <p class="mensHeader-link" onclick="mensPage()">See All ></p>
            </a>
        </div>

        <!-- Cult Gear Sports Products -->
        <div id="data">
            <% product.forEach(el=> { %>
                <a href="/store/cultsport/<%= el._id %> ">
                    <div class="cultGearMenDiv">
                        <img class="productImage" src="<%= el.mainImg %>" />
                        <p class="productBrand">
                            <%= el.brand %>
                        </p>
                        <p class="productName">
                            <%= el.name %>
                        </p>
                        <div class="priceDiv">
                            <p class="productPrice">₹<%= el.price %>
                            </p>
                            <p class="productDiscountPrice">₹<%= el.discountPrice %>
                            </p>
                            <p class="productDiscount">
                                <%= el.discount %>% OFF
                            </p>
                        </div>
                    </div>
                </a>
                <% }) %>
        </div>

        <!-- Header of products -->
        <div class="mensHeader">
            <div class="mensHeader-MainText">
                <p class="mensHeader-heading">Bestsellers in Women</p>
                <p class="mensHeader-subHeading">
                    Flydry, Anti-microbial and Breathable
                </p>
            </div>

            <a href="/store/women">
                <p class="mensHeader-link" onclick="mensPage()">See All ></p>
            </a>
        </div>

        <div id="data">
            <% womenProduct.forEach(el=> { %>
                <a href="/store/w_cultsport/<%= el._id %> ">
                    <div class="cultGearMenDiv">
                        <img class="productImage" src="<%= el.mainImg %>" />
                        <p class="productBrand">
                            <%= el.brand %>
                        </p>
                        <p class="productName">
                            <%= el.name %>
                        </p>
                        <div class="priceDiv">
                            <p class="productPrice">₹<%= el.price %>
                            </p>
                            <p class="productDiscountPrice">₹<%= el.discountPrice %>
                            </p>
                            <p class="productDiscount">
                                <%= el.discount %>% OFF
                            </p>
                        </div>
                    </div>
                </a>
                <% }) %>
        </div>
    </div>

    <!-- Lower questions part -->
    <div class="quest">
        <div class="content">
            <p class="right">SEE ALL</p>
            <h2>FAQS</h2>
            <h5>6 QUESTIONS</h5>
        </div>
        <details>
            <summary>
                How can I pick a particular doctor while booking my consultation
                appointment?
            </summary>

            <div>
                <p>
                    All our doctors are equally skilled and are experts in family &
                    internal medicine. They are capable of handling all medical
                    conditions and will guide you to the right specialist, if need be.
                    While we do not let you select a specific doctor at the time of
                    booking, we will display information about the appointed doctor
                    after you have booked your appointment.
                </p>
            </div>
        </details>
        <details>
            <summary>
                How do I share additional information/reports with my doctor before
                the consultation?
            </summary>

            <div>
                <p>
                    You can message your care provider to share any relevant info or ask
                    any question/clarification. You can share any image, prescription or
                    test report even before you begin your consultation. To do this Go
                    to the Home tab and head to the day your appointment is scheduled
                    Tap the 3 dots and hit message OR you can tap the appointment and
                    hit the message button.
                </p>
            </div>
        </details>
        <details>
            <summary>
                How can I reschedule my doctor consultation appointment?
            </summary>

            <div>
                <p>
                    Easy! The appointment can be rescheduled anytime before your slot
                    begins. To reschedule, follow these simple steps: - Head to the
                    'Consultation' tab under care.fit section on the app - Go to the
                    blue coloured card under 'Your Consultations' - Click on manage and
                    then reschedule.
                </p>
            </div>
        </details>
        <details>
            <summary>How can I cancel my doctor consultation appointment?</summary>

            <div>
                <p>
                    Cancellation is allowed only 60 min prior to the appointment start
                    time To cancel, follow these simple steps: - Head to the
                    'Consultation' tab under care.fit section on the app - Go to the
                    blue coloured card under 'Your Consultations' - Click on manage and
                    then cancel.
                </p>
            </div>
        </details>
        <details>
            <summary>
                How many free follow ups do I get?/ Unable to book a free follow up
            </summary>

            <div>
                <p>
                    You get one free follow up with every consultation. You need to
                    avail of your free follow -up within 8 days from your first
                    consultation. To book, follow these simple steps: - Head to the
                    'Consultation' tab under care.fit section on the app. - Go to the
                    blue coloured card under 'Your Consultations' - Click on manage and
                    then schedule.
                </p>
            </div>
        </details>
        <details>
            <summary>I may be late, will my appointment will be cancelled?</summary>

            <div>
                <p>
                    The doctor will wait 7 mins once your consultation time starts.
                    After which, the slot will be auto-cancelled. However, you can
                    reschedule it either via the app or via the concierge at the center.
                </p>
            </div>
        </details>
    </div>
    <!-- Questions part ends here -->

    <!-- footer -->
    <%- include("../components/footer") %>
        <!-- footer ends -->
</body>

</html>