<!DOCTYPE html>
<html>

<head>
    <title>Homepage</title>
    <link rel="stylesheet" href="./css/profile.css" />
    <link rel="shortcut icon" href="https://static.cure.fit/assets/images/curefit-v-man.svg" />
</head>

<body>
    <div id="profile-page-style">
        <!-- nav bar -->
        <div id="navBar">
            <a href="/">
                <div class="nav-CultFit-Logo">
                    <img src="https://static.cure.fit/assets/images/curefit-v-man.svg" onclick="homePage()" />
                </div>
            </a>

            <!-- Nav Middle items -->
            <div class="nav-middle">
                <div class="nav-live-Logo">
                    <img src="https://static.cure.fit/assets/images/Livefit.svg" />
                    <p class="navText">LIVE</p>
                </div>

                <div class="nav-cult-Logo">
                    <img src="https://static.cure.fit/assets/images/cult-icon.svg" alt="cult_logo" />
                    <p class="navText">CULT</p>
                </div>

                <div class="nav-mind-Logo">
                    <img src="https://static.cure.fit/assets/images/mind-icon.svg" alt="" />
                    <p class="navText">MIND</p>
                </div>

                <div class="nav-care-Logo">
                    <img src="https://static.cure.fit/assets/images/carefit-blk.svg" alt="" />
                    <p class="navText">CARE</p>
                </div>

                <a href="/store">
                    <div class="nav-store-Logo">
                        <img src="https://static.cure.fit/assets/images/store-icon.svg" onclick="storePage()" alt="" />
                        <p class="navText" id="store" onclick="storePage()">STORE</p>
                    </div>
                </a>
            </div>

            <div class="nav-right">
                <div class="location">
                    <p class="navText">Delhi, INDIA</p>
                </div>

                <!-- Login page -->
                <div class="nav-login-Logo" onclick="call()" id="login">
                    <img id="icon" src="https://static.cure.fit/assets/images/user-image.svg" alt="" />
                    <!-- <p onclick="call()" class="navText login-text">LOGIN</p> -->

                    <!-- Dropdown Div -->
                    <div id="dropdown" class="dropdown">
                        <img src="https://www.bing.com/th?id=OIP.2hAVCZRMcBjsE8AGQfWCVQHaHa&w=100&h=106&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2"
                            class="dropbtn" />

                        <span>
                            <img class="dropbtna"
                                src="https://www.bing.com/th?id=OIP.HapMrLcuA7ELRyK2rnaZaAHaHa&w=100&h=100&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" />
                        </span>

                        <div class="dropdown-content">
                            <a href="./profile"><span>
                                    <img src="https://static.cure.fit/assets/images/profile-icon.svg" /></span>
                                Profile</a>

                            <a href="./order"><span><img
                                        src="https://static.cure.fit/assets/images/cart-black.svg" /></span>Orders</a>

                            <a href="#"><span><img
                                        src="https://static.cure.fit/assets/images/health-profile-black.svg" /></span>Medical
                                Records</a>

                            <a href="./subscription"><span><img
                                        src="https://static.cure.fit/assets/images/combined-shape-black.svg" /></span>Active
                                Packs</a>

                            <a href="./reedem"><span><img
                                        src="https://static.cure.fit/assets/images/coupon-black.svg" /></span>Redeem
                                Voucher</a>

                            <a href="#"><span><img
                                        src="https://static.cure.fit/assets/images/settings-black.svg" /></span>Account</a>

                            <a href="./support"><span><img
                                        src="https://static.cure.fit/assets/images/support-black.svg" /></span>Support</a>

                            <a href="/logout"><span><img
                                        src="https://static.cure.fit/assets/images/logout-black.svg" /></span>Logout</a>
                        </div>
                    </div>
                </div>

                <!-- Cart button -->
                <a href="/cart">
                    <div class="nav-cart-Logo" onclick="toCart()">
                        <img src="https://static.cure.fit/assets/images/cart-image.svg" alt="" />
                    </div>
                </a>
            </div>
        </div>

        <!-- info section after nav -->

        <div id="profile-sidebar">
            <!-- sidebar -->
            <div class="left-sidebar-profile">
                <!-- upper profile section of sidebar -->
                <a href="./profile">
                    <div onclick="profile()" class="profile-section">
                        <div class="profile-photo">
                            <!-- <img
                            src="https://www.bing.com/th?id=OIP.2hAVCZRMcBjsE8AGQfWCVQHaHa&w=100&h=106&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" /> -->
                        </div>

                        <!-- name and link of view profile -->
                        <div class="name-section-profile">
                            <h3 id="profilename"></h3>

                            <p class="view-profile-text">VIEW PROFILE</p>
                        </div>
                    </div>
                </a>

                <hr class="line" />

                <!--order section -->
                <a href="./order">
                    <div onclick="redirect()" class="sidebar-div">
                        <div class="sidebar-text">Orders</div>
                        <div class="sidebar-icon">
                            <img src="https://static.cure.fit/assets/images/cart-black.svg" />
                        </div>
                    </div>
                </a>

                <!-- medical records -->

                <div class="sidebar-div">
                    <div class="sidebar-text">Medical Records</div>
                    <div class="sidebar-icon">
                        <img src="https://static.cure.fit/assets/images/health-profile-black.svg" />
                    </div>
                </div>

                <!-- sucsrption -->
                <a href="./subscription">
                    <div onclick="subscription()" class="sidebar-div">
                        <div class="sidebar-text">Active Packs and Subscription</div>
                        <div class="sidebar-icon">
                            <img src="https://static.cure.fit/assets/images/combined-shape-black.svg" />
                        </div>
                    </div>
                </a>
                <!-- redeem voucher -->

                <a href="./reedem">
                    <div onclick="govoucher()" class="sidebar-div">
                        <div class="sidebar-text">Redeem Voucher</div>
                        <div class="sidebar-icon">
                            <img src="https://static.cure.fit/assets/images/coupon-black.svg" />
                        </div>
                    </div>
                </a>

                <!-- account -->

                <div class="sidebar-div">
                    <div class="sidebar-text">Account</div>
                    <div class="sidebar-icon">
                        <img src="https://static.cure.fit/assets/images/settings-black.svg" />
                    </div>
                </div>

                <!-- support -->
                <a href="./support">
                    <div onclick="support()" class="sidebar-div">
                        <div class="sidebar-text">Support</div>
                        <div class="sidebar-icon">
                            <img src="https://static.cure.fit/assets/images/support-black.svg" />
                        </div>
                    </div>
                </a>

                <!-- logout -->
                <a href="/logout">
                    <div class="sidebar-div">
                        <div class="sidebar-text">Logout</div>
                        <div class="sidebar-icon">
                            <img src="https://static.cure.fit/assets/images/logout-black.svg" />
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div id="content-inside-profile">
            <div id="profile">
                <div id="image">
                    <!-- <img
                            src="https://www.bing.com/th?id=OIP.2hAVCZRMcBjsE8AGQfWCVQHaHa&w=100&h=106&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" /> -->
                </div>

                <div>
                    <div id="profile-data">
                        <p class="heading-profile">PROFILE</p>

                        <div class="name-div">
                            <label class="label-name">NAME</label>
                            <input type="text" value="<%= item.username %>" id="name" placeholder="Enter your name" />
                        </div>

                        <div class="number-div">
                            <label class="label-number">PHONE NUMBER</label>
                            <input type="number" value="<%= item.phone_no %>" id="number"
                                placeholder="Add phone number" />
                        </div>

                        <div>
                            <label class="label-email">EMAIL</label>
                            <input type="text" value="<%= item.email %>" id="email" placeholder="Enter Your Email" />
                        </div>

                        <div>
                            <label class="label-age">Age</label>
                            <input type="number" value="<%= item.age %>" id="date" placeholder="Age" />
                        </div>

                        <div>
                            <label class="label-gender">Gender</label>
                            <input type="text" value="<%= item.gender %>" id="email" placeholder="Gender" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script src="./js/profile.js"></script>